/* FONTS & COLORS */

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&family=Source+Sans+Pro&display=swap');

:root {
    --dark-green: #4a4c02;
    --dark-green-overlay: rgba(74, 76, 2, 0.4);
    --mid-green: #78820c;
    --yellow: #d9ac0c;
    --v-light-grey: #f8f9fa;
    --light-grey: #e9e6e3;
    --dark-grey: #777470;
    --darkest-grey: #2c2b2a;
    --heading-font: 'Rufina', serif;
    --main-font: 'Source Sans Pro', sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--darkest-grey);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

#hero-img-home {
    color: white;
}

h1 {
    font-size: 40px;
}

.tagline {
    font-size: 21px;
}

.section-heading {
    margin-bottom: 2rem;
    font-size: 30px;
}

.quotemarks {
    font-family: var(--heading-font);
    color: var(--yellow);
}

/* NAVIGATION */
#cc .nav-link.active,
#cc .nav-link:hover {
    color: var(--dark-green);
}

#cc .navbar-brand {
    font-family: var(--heading-font);
    color: var(--mid-green);
    font-size: 19px;
}

/* IMAGES */
#logo {
    height: 40px;
}

#hero-img-home {
    background-image: url('../../assets/img/ferns1.jpg');
    height: 400px;
    background-size: cover;
    background-position: 60% 70%;
}

.overlay-dark {
    height: 100%;
    background-color: var(--dark-green-overlay);
}

#cara-pic-wrapper {
    height: 100%;
    min-height: 350px;
}

#cara-pic {
    height: 100%;
    background-image: url("../img/cara1.jpg");
    background-size: cover;
    background-position: 50% 10%;
}

/* CARDS */

#services .card {
    max-width: 18rem;
    margin: 1rem auto;
}

/* CTA BOXES */

.img-box {
    height: 150px;
    max-width: 300px;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    margin: 1rem;
}

.img-box-overlay {
    background-color: var(--dark-green-overlay);
    height: 100%;
}

#teams-card {
    background-image: url("../img/service3.jpg");
}

#individuals-card {
    background-image: url("../img/service2.jpg");
}

#contact-card {
    background-image: url("../img/service1.jpg");
}

.img-box a {
    color: white;
    text-decoration: none;
}

/* RESULTS ICONS */

.results-icon {
    color: var(--mid-green);
    opacity: 80%;
    font-size: 50px;
    margin: 10px 0;
}

/* SECTIONS */

#results-icons,
#services,
#calls-to-action,
#footer {
    padding: 40px 0;
}

.green-section {
    background-color: var(--mid-green);
    padding: 40px 0;
    color: white;
}

/* TESTIMONIALS SECTION HOME PG */

#testimonials-section {
    height: 480px;
}

.blockquote > p {
    font-size: 1rem;
}

.carousel.slide {
    height: 100%;
}

.section-footer {
    background-color: var(--mid-green);
}

/* FOOTER */

#footer {
    background-color: var(--dark-green);
    color: white;
}

#footer hr {
    border-top: 2px solid white;
}

#footer ul {
    list-style-type: none;
    padding: 0;
}

#footer a {
    color: white;
    text-decoration: none;
    transition: .2s ease-in-out .2s;
}

#footer a:hover {
    color: var(--yellow);
}

/* BUTTONS */

.btn-white {
    background-color: white;
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.btn-yellow {
    background-color: var(--yellow);
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.btn-green {
    background-color: var(--dark-green);
    color: white;
    border-color: var(--dark-green);
}

.btn-green:hover {
    background-color: var(--yellow);
    color: var(--dark-green);
    border-color: var(--dark-green);
}

/* MEDIA QUERIES */

/* extra small devices */
@media screen and (min-width: 420px) {

    /* #testimonials-section {
        height: 300px;
    } */
    
    .blockquote > p {
        font-size: 1.1rem;
    }
}

/* small devices */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 55px;
    }
    
    .tagline {
        font-size: 24px;
    }

    .section-heading {
        font-size: 40px;
    }

    #testimonials-section {
        height: 300px;
    }
    
    .blockquote > p {
        font-size: 1rem;
    }
}

/* medium devices */
@media screen and (min-width: 768px) {

    #testimonials-section {
        height: 250px;
    }
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */