/* FONTS & COLORS */

@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&family=Source+Sans+Pro&display=swap');

:root {
    --dark-green: #4a4c02;
    --dark-green-overlay: rgba(74, 76, 2, 0.4);
    --mid-green: #78820c;
    --yellow: #d9ac0c;
    --v-light-grey: #f8f9fa;
    --light-grey: #e9e6e3;
    --dark-grey: #777470;
    --heading-font: 'Rufina', serif;
    --main-font: 'Source Sans Pro', sans-serif;
}

body {
    font-family: var(--main-font);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

#hero-img-home {
    color: white;
}

h1 {
    font-size: 40px;
}

.tagline {
    font-size: 21px;
}

/* NAVIGATION */
#cc .nav-link.active,
#cc .nav-link:hover {
    color: var(--dark-green);
}

#cc .navbar-brand {
    font-family: var(--heading-font);
    color: var(--mid-green);
    font-size: 19px;
}

/* IMAGES */
#logo {
    height: 40px;
}

#hero-img-home {
    background-image: url('../../assets/img/ferns1.jpg');
    height: 400px;
    background-size: cover;
    background-position: 60% 70%;
}

.overlay-dark {
    height: 100%;
    background-color: var(--dark-green-overlay);
}

/* MEDIA QUERIES */

/* small devices */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 55px;
    }
    .tagline {
        font-size: 24px;
    }
}